{% extends 'base.html.twig' %}

{% block title %}Les ouvrages - Le Libraire
{% endblock %}

{% block body %}
{% for produit in produits %}
	<style>
    body{
        background-color: #1E2125;
    }
    p{
        color: #fff;
    }
    h2{
        text-align: center;
        background: -webkit-linear-gradient(rgba(225, 0, 255),rgba(127, 0, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
	</style>
	
    <article>
        <h2 class="pt-5">{{ produit.titre }}</h2>
            <div class="pb-3 text-center">{{ produit.heros }} - {{ produit.auteur }} </div>
                <div class="content">
                <div class="d-flex justify-content-center">
                    {% if produit.refbd in couvertures %}
                    <img class="thumbnail" src="{{ asset('images/couverture/') }}{{ produit.refbd }}{{ '.jpg' }}" alt="{{ produit.refbd }}">
                    {% else %}
                    <img class="thumbnail" src="{{ asset('images/couverture/defaut.jpg') }}" alt="aucune couverture">
                    {% endif %}
                </div>
                    <p class="pt-3">{{ produit.resume }}</p>
                    <hr>
                </div>
           
    </article>
{% endfor %}
{% endblock %}


